


* {
/* font-size: 0.9rem  !important; */
}
html{
    height:100%;
}

body {
 background-color: #fff;
 font-family: "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", Roboto, "Microsoft YaHei", sans-serif;
 height:100%;
 font-size: 0.9em
}

/**CSS FOR THE RING**/

.glyphicon-ring {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid white;
    background: white;
    display: inline-table;
    text-align: center;
}
/**CSS FOR ICON WITH NO BACKGROUND COLOR**/
  
.glyphicon-ring .glyphicon-bordered {
    color: lightgray;
    font-size: 20px;
    vertical-align: middle;
    display: table-cell;
}

.container {
    -ms-overflow-style: none; 
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent;
}

.login-input {width:100%;padding:0.4rem; border: 1px solid #ced4da;border-radius: .25rem; letter-spacing: 2.8rem;word-spacing: 2.8rem;font-size:1.4rem}
.login-input:focus{border-color: rgba(220, 50, 80, 0.8);box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(220, 0, 0, 0.6);outline: 0 none;}
.login-button {width:100%;padding:0.8rem;background: rgba(220, 50, 80, 1.0);font-size:1rem;border-radius: .25rem;border: 1px solid;color:white;text-align: center;text-decoration: none;cursor: pointer;outline: none !important;box-shadow: none;}
.login-button:hover {background: rgba(200, 50, 80, 1.0);box-shadow: none;}
.login-button:active {background: rgba(200, 50, 80, 1.0);box-shadow: none;}
.login-div {padding:1.2rem 0 1.2rem 0; color:rgba(220, 0, 0, 1.0);white-space:nowrap;display:table; width:100%}
.login-div > * {display:table-cell}
.login-span {margin: 0.8rem 0 0.8rem 0;width:5.0rem}
.login-invalid {    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#dc3545' viewBox='-2 -2 7 7'><path stroke='#dc3545' d='M0 0l3 3m0-3L0 3'/><circle r='.5'/><circle cx='3' r='.5'/><circle cy='3' r='.5'/><circle cx='3' cy='3' r='.5'/></svg>");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);}
.login-err {color: #dc3545;}