
<div class="container p-1">
    <div class="form-row align-items-center">
        <div class="btn-toolbar col-auto">
            <div class="btn-group mr-3" >
                <button type="button" class="btn btn-outline-light btn-lg" (click)="save()"><em class="text-primary glyphicon glyphicon-floppy-disk" style="font-size: 12px"></em></button>  
            </div>
            <div class="btn-group mr-3" *ngIf="!toolbar.m.background.visible()">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <select style="width:4em;" class="custom-select text-black-50 font-weight-light" [(ngModel)]="selectedRenderable" >
                            <option *ngFor="let r of renderManager.getRenderableList()" value="{{r.id}}">{{r.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="btn-group" *ngIf="!toolbar.m.background.visible()">
                <button type="button" class="btn btn-outline-light btn-lg" (click)="remove()"><em [ngClass]="{'text-primary':selected()}" class="glyphicon glyphicon-trash" style="font-size: 12px"></em></button>
                <button type="button" class="btn btn-outline-light btn-lg" (click)="top()"><em [ngClass]="{'text-primary':selected()}" class="glyphicon glyphicon-eye-open" style="font-size: 12px"></em></button>
                <button type="button" class="btn btn-outline-light btn-lg" (click)="addText()"><span class="text-black-50 font-weight-light">字</span></button>
                <button type="button" class="btn btn-outline-light btn-lg" (click)="addPhoto()"><span class="text-black-50 font-weight-light">图</span></button> 
                <button type="button" class="btn btn-outline-light btn-lg" (click)="addLine()"><span class="text-black-50 font-weight-light">线</span></button>  
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-light btn-lg" (click)="addBackground()"><span  class="text-black-50 font-weight-light">背</span></button>
            </div>
            <div class="btn-group mr-3"></div>
            <div class="btn-group mr-3" *ngIf="!toolbar.m.background.visible()">
                <button type="button" class="btn btn-outline-light btn-lg" (click)="toolbar.m.selected.color.click()"><span  [ngClass]="{'text-primary':toolbar.m.selected.color.visible()}" class="font-weight-light">色</span></button>  
                <button type="button" class="btn btn-outline-light btn-lg" (click)="toolbar.m.selected.opacity.click()"><span [ngClass]="{'text-primary':toolbar.m.selected.opacity.visible()}" class="font-weight-light">透</span></button>
                <button type="button" class="btn btn-outline-light btn-lg" (click)="toolbar.m.selected.align.click()"><span [ngClass]="{'text-primary':toolbar.m.selected.align.visible()}" class="font-weight-light">版</span></button>     
            </div>
            <div class="btn-group mr-3" *ngIf="toolbar.m.text.visible()">
                <!-- font -->
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="toolbar.m.text.font.click()"><em [ngClass]="{'text-primary':toolbar.m.text.font.visible()}" class="glyphicon glyphicon-font" style="font-size: 12px"></em></button>    
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="toolbar.m.text.weight.click()"><em [ngClass]="{'text-primary':toolbar.m.text.weight.visible()}" class="glyphicon glyphicon-bold" style="font-size: 12px"></em></button> 
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="hTypeset()"><em class="glyphicon glyphicon-arrow-right" style="font-size: 12px"></em></button>
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="vTypeset()"><em class="glyphicon glyphicon-arrow-down" style="font-size: 12px"></em></button>
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="onItalic()"><em class="glyphicon glyphicon-italic" style="font-size: 12px"></em></button>
                
            </div>
            <div class="btn-group mr-3" *ngIf="(toolbar.m.image.visible()&& selected()) || toolbar.m.line.visible()">
                <!-- picture -->
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="expand()"><em class="glyphicon glyphicon-fullscreen" style="font-size: 12px"></em></button>
                <button type="button" class="btn btn-outline-light  btn-lg" (click)="restore()"><em class="glyphicon glyphicon-screenshot" style="font-size: 12px"></em></button>
                <button type="button" class="btn btn-outline-light  btn-lg" *ngIf="toolbar.m.line.visible()" (click)="toolbar.m.line.weight.click()"><em [ngClass]="{'text-primary':toolbar.m.line.selected.visible('weight')}" class="glyphicon glyphicon-bold" style="font-size: 12px"></em></button> 
            </div>
        </div>
        
        <div class="col-auto" *ngIf="toolbar.m.selected.visible('align')">
            <div class="form-row align-items-center">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">位置</span></div>
                <div class="col-auto">
                    <div class="btn-group mr-3">
                        <button type="button" class="btn btn-outline-light  btn-lg" (click)="alignLeft()"><em class="glyphicon glyphicon-align-left" style="font-size: 12px"></em></button>
                        <button type="button" class="btn btn-outline-light  btn-lg" (click)="alignCenter()"><em class="glyphicon glyphicon-align-center" style="font-size: 12px"></em></button>
                        <button type="button" class="btn btn-outline-light  btn-lg" (click)="alignRight()"><em class="glyphicon glyphicon-align-right" style="font-size: 12px"></em></button> 
                        <button type="button" class="btn btn-outline-light  btn-lg" (click)="justify()"><em class="glyphicon glyphicon-align-justify" style="font-size: 12px"></em></button>  
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.selected.selected.visible('weight')">
            <div class="form-row align-items-center">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">粗细</span></div>
                <div class="col-auto"><input type="range" class="custom-range" [(ngModel)]="weight"></div>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.background.visible() || (toolbar.m.image.visible() && !selected())">
            <div class="form-row align-items-center">
                <comp-photo [zoomSize]={w:36,h:36} [max]=33 [pageSize]="4" [onSelect]="onPhotoSelected" [(images)]="photoes" ></comp-photo>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.background.visible() || toolbar.m.selected.selected.visible('opacity')">
            <div class="form-row align-items-center">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">透明度</span></div>
                <div class="col-auto"><input type="range" class="custom-range" [(ngModel)]="opacity"></div>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.background.visible() || toolbar.m.selected.selected.visible('color')">
            <div class="form-row align-items-center" style="width:100px">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">颜色</span></div>
                <div class="col-6"><input class="form-control rounded-circle text-black-50 font-weight-light" [(colorPicker)]="color" [style.background]="color"/></div>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.background.visible()">
            <div class="form-row align-items-center">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">尺寸</span></div>
                <div class="col-auto"><input type="range" class="custom-range" [(ngModel)]="size"></div>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.background.visible()">
            <div class="form-row align-items-center" style="width:100px">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">背景</span></div>
                <div class="col-6"><input class="form-control rounded-circle text-black-50 font-weight-light" [(colorPicker)]="bgColor" [style.background]="bgColor"/></div>
            </div>
        </div>
        <div class="col-auto" *ngIf="toolbar.m.selected.selected.visible('font')">
            <div class="form-row align-items-center">
                <div class="col-auto"><span class="text-black-50 font-weight-light" style="font-size: 1.25rem">字体</span></div>
                <div class="col-auto">
                    <select style="width:8em" class="custom-select text-black-50 font-weight-light" [(ngModel)]="font">
                        <option value="sf">书法字体</option>
                        <option value="sf-ks">书法楷书随机字体</option>
                        <option value="sf-xs">书法行书随机字体</option>
                        <option selected value="sans-serif">sans-serif</option>
                        <option value="Microsoft YaHei">微软雅黑</option>
                        <option value="Arial">Arial</option>
                        <option value="SimHei">黑体</option>
                        <option value="SimSun">宋体</option>
                        <option value="FangSong">仿宋</option>
                        <option value="KaiTi">楷体</option>
                        <option value="oyang">欧体字</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container bg-light p-1 h-100" >
    <div class="row h-100 justify-content-center align-items-center">
        <div class="bg-white">
            <canvas id="canvas"  ></canvas>
        </div>
        
    </div>

</div>