<div class="text-center border-bottom bg-light">
    <p class="h1 p-3"> </p>
    <p class="h2"><img src="assets/img/header.svg" style="width:512px"/></p>
    <p class="h1 p-3"> </p>
</div>
<div class="container">
    <br>
    <!-- <p class="border-bottom font-weight-light h3 text-black-50">
        请帖
    </p>
    <div class="row" id="test"(mousemove)="mouseMove($event)" (touchmove)="mouseMove($event)" >
        <ng-container *ngFor="let f of food; let i = index">
            <div class="col-2" ><img [src]="f" class="img-thumbnail" (click)="onSelect(i, f)"></div>
            <div class="w-100" *ngIf="(i+1) % 6 == 0"></div>
        </ng-container>
        <div class="col-2" style="height:230px">
            <div class="position-relative w-100 h-100">
                <div class="h-100 w-100 position-absolute">
                    <div class="row h-100 justify-content-center align-items-center ">
                        <a href="javascript:void(0)" (click)="onSelect(food.length)">
                            <span class="glyphicon-ring" ><em class="glyphicon glyphicon-plus glyphicon-bordered" ></em></span>
                        </a>
                    </div>
                </div>
                <div class="img-thumbnail  bg-light h-100 w-100"></div>
            </div>
        </div>
    </div> -->
    <p class="border-bottom font-weight-light h3 text-black-50">
        生活
    </p>
    <div class="row" (mousemove)="mouseMove($event)" (touchmove)="mouseMove($event)">
        <ng-container *ngFor="let f of life; let i = index">
            <div class="col-2"><img [src]="f" class="img-thumbnail" (click)="onSelected(i, f)" ></div>
            <div class="w-100" *ngIf="(i+1) % 6 == 0"></div>
        </ng-container>
    </div>
</div>
<div class="m-5 p-5"></div>
<footer class="position-relative border-top p-3 text-center bg-light "> <!--[style.visibility]="authGuard.loaded ? 'visible' : 'hidden'"> -->
    <p class=" small m-auto  ">请联系<a href="mailto:showmemoney.cc@outlook.com?Subject=建议" target="_top">showmemoney.cc@outlook.com</a></p>
</footer>